<!DOCTYPE html>
{% extends 'Myapp/base.html' %}
{% block body_block%}
  <div class="container mt-5">
    <form class="col-6 mx-auto card pull-3 shadow-lg" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h1>Create Acount..</h1><hr>     
                {% csrf_token %}
    
                <!--messages-->

                 {% if messages %}
                 <div class="alert alert-success" role="alert">
                <ul class="messages">
                 {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
                </div>
               {% endif %}
               <!--end messages-->
    
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">First Name</label>
                    <input type="text"  name="firstname" placeholder="Enter Your First Name.." class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
    
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Last Name</label>
                    <input type="text"  name="lastname"  placeholder="Enter Your Last Name.." class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
    
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">User Name</label>
                      <input type="email"  name="username" placeholder="example@gmail.com"  class="form-control" id="exampleInputEmail1" >
                    </div>

                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" name="password" placeholder="*********" class="form-control" id="exampleInputPassword1">
                    </div>

                    <p style="font-size: larger;">You Have account <u><a href="/login/">Login</a></u></p>

                    <button type="submit" class="btn btn-group-lg btn-success">SignUp</button> <br>
               
                    </form>
        </div>
        </div>
    </div>
    
{%endblock%}